.page {
  position: absolute;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}
