.system-main {
  grid-area: content;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;

  @include vp-1023 {
    margin-bottom: 20px;
    padding: 0;
  }

  &__wrapper {
    border-radius: 12px;
    box-shadow: 0 0 4px 2px rgb($color-default-black, 20%);
    background-color: $color-default-white;
    height: 100%;
  }

  &__content {
    padding: 20px 0;
  }
}
